body {
  background-color: rgb(91, 77, 104);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0px;
}

.button {
  text-align: center;
  margin-top: 1px;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin: 10px;
  background: linear-gradient(45deg, #5a5a5a, #757575);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  color: red;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn i {
  margin-right: 8px;
}

#menu-button {
  position: fixed;
  top: 15px;
  left: 10px;
  width: 40px;
  height: 40px;
  background-color: #333;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  z-index: 1001;
}

#navbar {
  position: fixed;
  top: 60px;
  left: 10px;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
}

#navbar a {
  color: white;
  text-decoration: none;
  padding: 8px;
  display: block;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #555;
}

h1 {
  text-align: center;
}

img {
  width: 450px;
  height: 50%;
  margin: 0 auto;
  padding: 0, 0;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hardware,
.soft {
  width: auto;
  padding: 10px;
  display: none;
}

.active {
  display: block;
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

img {
  width: 450px;
  height: auto;
  margin: 0 20px;
}

p {
  margin: 10px 0;
  color: rgb(255, 255, 255);
}

ul {
  margin: 10px 0;
  color: white;
}

table {
  width: 500px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}

.arrow-up {
  font-size: 50px; 
  color: #007bff; 
  cursor: pointer; 
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
}

.arrow-up:hover {
  color: #0056b3; 
}

.td1{
  color: white;
}

table {
  width: 95%;
  border-collapse: collapse;
  margin: 0 auto;
}


button {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none;
  display: inline-block; 
  font-size: 16px; 
  margin: 10px 5px;
  cursor: pointer; 
  border-radius: 5px; 
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #0056b3; 
}


.hardware.active, .soft.active {
  display: block;
}

.hardware, .soft {
  display: none; 
}
