h1 {
    color: darkblue;
    font-size: 2.5em;
}
h2 {
    color: darkgreen;
    font-size: 2em;
}
h3 {
    color: darkorange;
    font-size: 1.75em;
}
h4 {
    color: darkred;
    font-size: 1.5em;
}
h5 {
    color: purple;
    font-size: 1.25em;
}
h6 {
    color: gray;
    font-size: 1em;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(125, 118, 135, 0.149);
}